# Executables and build artifacts
/humidity-reminder

# Test binaries
*.test

# Build directories
bin/
build/
out/

# Go module files
/go.sum

# Configuration overrides
config.yaml

# IDE/editor junk
.DS_Store
.idea/
.vscode/

# Coverage
*.out
